// @import 'styles/variables'
    
.aboutText
    height: 100vh
    display: grid
    justify-content: center
    background-color: slategrey
    color: black
    text-align: center
    padding: 50px
    h1
        display: grid
        place-items: center
        text-align: center
        padding-bottom: 5px
    a
        text-decoration: none
        color: #10347A

    svg
        padding: 15px

