// @import 'styles/variables'
    
.aboutText
    height: 100vh
    display: grid
    justify-content: center
    text-align: center
    
    position: relative
    h2, h3, span
        color: #FFFFFF
    a
        text-decoration: none
        color: #FFFFFF

    svg
        padding: 15px

