// @import 'styles/variables'

    
.contactForm
    padding: 30px
    background-color:#000000
    color: white
    height: 200vh
    flex-direction: column
    display: grid
    flex-wrap: wrap
    justify-content: center
    align-items: center
    text-align: center

    a
        text-decoration: none
        color: #a8a296

.formStyle
    display: grid
    place-content: center

.sendButton
    background-color: slategrey
    color: black
    margin: 15px

.sendButton:hover
    background-color: silver
    
    
.socialMedia
    display: inline-table
    padding-bottom:10px

    svg
        padding: 5px
