// @import 'styles/variables'

    
.contactForm
    color: white
    display: grid
    justify-content: center
    align-items: center
    text-align: center
    padding: 150px
    margin-bottom: 50px
    z-index: 99
    position: relative
    a
        text-decoration: none
        color: #a8a296
    form
        padding: 30px

.formStyle
    display: grid
    place-content: center



    
    
.socialMedia
    display: inline-table
    padding-bottom:30px
    svg
        padding: 45px