// @import 'styles/variables'

  
.footerContainer 
  flex-direction: column
  display: flex
  color: black

  background-color: slategrey
  justify-content: center
  align-items: center
  h6
    margin-top: 20px


  

.iconRow
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  padding: 15px
  background-color: slategrey
  svg
    background-color: slategrey
    margin: 10px


