// @import 'styles/variables'

  
.footerContainer 
  display: grid
  color: white
  justify-content: center
  z-index: 99
  position: relative
  margin-top: 100px




  

.iconRow
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 15px
  padding-bottom: 70px
  svg
    margin: 10px

