.headerContainer 
  display: flex
  max-width: 100%
  padding: 20px
  z-index: 99
  position: relative

  a 
    color: white
    text-decoration: none
  

  .linkText 
    display: is-hidden-touch
  


