.resumePage
    color: white
    place-items: center
    display: grid
    padding: 20px
    justify-content: center
    justify-items: center
    position: relative
    z-index: 99
    a
        color: #a8a296
        text-decoration: none

.titleText
    font-size:65px
    padding-top: 50px    

